/out/
/resources/public/js/compiled/
/resources/public/workbox-*.js
/resources/public/workbox-*.js.map
/resources/public/sw.js
/resources/public/sw.js.map
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

# netlify
.netlify/

# lfs
.lfsconfig

# local config
cors-config
fbconf
