resources/public/sounds/tanpura/csharp.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/a5.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/b6.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/c4.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/d4.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/ds5.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/ds6.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/gs5.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/a4.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/as5.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/ds4.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/fs6.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/e5.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/e6.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/f6.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/fs5.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/g5.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/c5.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/d5.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/e4.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/gs6.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/fs4.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/a6.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/b5.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/cs4.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/cs6.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/as4.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/b4.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/c7.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/d6.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/f4.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/g4.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/gs4.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/as6.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/c6.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/cs5.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/f5.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/santoor/g6.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tanpura/c4.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra195bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra285bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra75bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra90bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra150bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra165bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra210bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra240bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra270bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra60bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra135bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra180bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra105bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra255bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra300bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra120bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/dadra/dadra225bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal195bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal255bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal285bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal90bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal105bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal210bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal270bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal300bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal120bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal135bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal240bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal60bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal150bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal165bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal180bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal225bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/ektaal/ektaal75bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal135bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal180bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal105bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal150bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal210bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal225bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal285bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal75bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal120bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal165bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal195bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal240bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal255bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal270bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal300bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal90bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/jhaptaal/jhaptaal60bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa135bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa150bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa240bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa270bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa300bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa60bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa105bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa165bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa225bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa120bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa180bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa195bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa210bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa255bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa285bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa75bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/kehrwa/kehrwa90bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak165bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak180bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak210bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak285bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak105bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak135bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak150bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak195bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak240bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak270bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak120bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak225bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak255bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak60bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak75bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak90bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/rupak/rupak300bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal150bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal165bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal195bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal210bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal240bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal285bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal60bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal255bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal270bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal105bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal120bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal135bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal180bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal225bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal300bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal75bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/teentaal/teentaal90bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal120bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal195bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal75bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal135bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal210bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal240bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal270bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal60bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal105bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal150bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal180bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal225bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal255bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal285bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal90bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal165bpm.mp3 filter=lfs diff=lfs merge=lfs -text
resources/public/sounds/tabla/adachautaal/adachautaal300bpm.mp3 filter=lfs diff=lfs merge=lfs -text
