{
 :paths ["src"]
 :deps {
        ;;for the sitemap
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}
        adzerk/env {:mvn/version "0.4.0"}
        ;;environ/environ {:mvn/version "1.2.0"}
        com.google.cloud/google-cloud-firestore {:mvn/version "2.1.0"}
        com.google.guava/guava {:mvn/version "30.0-jre"}
        com.google.firebase/firebase-admin {:mvn/version "7.0.1"}
        ;;thheller/shadow-cljs {:mvn/version "2.28.3"}

        ;;for testing
        org.clojure/data.json {:mvn/version "2.5.1"}
        }
 }


