{:nrepl {:port 8777}

 :jvm-opts ["-Xmx1G"]

 :source-paths ["src" "test"]

 :dependencies
 [[reagent "1.1.1"]
  [re-frame "1.3.0"]
  [re-com "2.13.2"]
  [bidi "2.1.6"]
  [clj-commons/pushy "0.3.10"]
  [studiokalavati/sargam-spec "0.1.14"]
  [com.cognitect/transit-cljs "0.8.280"]
  [com.cemerick/url "0.1.1"]
  [com.shark8me/re-frame-firebase "0.8.3-SNAPSHOT"]
  [io.djy/chronoid "0.2.0"]
  [breaking-point "0.1.2"]
  [adzerk/env "0.4.0"]
  [binaryage/devtools "1.0.6"]
  [cider/cider-nrepl "0.28.4"]

  ;;for the sitemap
  [com.google.cloud/google-cloud-firestore "2.1.0"]
  [com.google.guava/guava "30.0-jre"]
  [com.google.firebase/firebase-admin "7.0.1"]]

 :dev-http
 {8280 "resources/public"
  8290 "target/browser-test"}

 :builds
 {:app
  {:target     :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :modules
   {:app {:init-fn bhatkhande-editor.core/init}}
   :release {:compiler-options {:optimizations :simple}}
   :devtools
   {:preloads []}
   :dev
   {:compiler-options
    {:closure-defines
     {re-com.config/root-url-for-compiler-output
      "http://localhost:8290/js/compiled/app/cljs-runtime/"}}}}}}
